---
import style from "./style.module.css"
import TextIcon from "../../../ui/text/TextIcon.astro"
---

<footer class={style.footer}>
    <div>
        <div class={style.logo_container}>
            <div>
                <img src="/logoSmall.png" alt="logo">
            </div>
            <div class={style.textIcon_desktop}>
                <TextIcon width="383" height="52"/>
            </div>
        </div>
        <div class={style.social_container}>
            <p>REDES SOCIALES</p>
            <div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558309880308&mibextid=LQQJ4d">
                        <img src="/facebook.png" alt="facebook">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/vital_salud_center_?igsh=ZWdlbjljcmNvbDM1">
                        <img src="/instagram.png" alt="instagram">
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/938571905?text=Hola%20quiero%20más%20información">
                        <img src="/whatsapp.png" alt="twitter">
                    </a>
                </div>
                <div>
                    <a href="mailto:vitalsalud.center24@gmail.com?subject=Consulta">
                        <img src="/mail.png" alt="whatsapp">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class={style.map_container}>
        <p>MAPA</p>
        <button>
            <p>MAPA GOOGLE</p>
        </button>
    </div>
</footer>