---
    import style from './style.module.css';
    import Calendar from '../../../ui/icons/Calendar.astro';
    import Clock from '../../../ui/icons/Clock.astro';
    import Location from '../../../ui/icons/Location.astro';
    import ManClothes from '../../../ui/icons/ManClothes.astro';
    import WomanClothes from '../../../ui/icons/WomanClothes.astro';
---

<body>
    <div class={style.main_container}>
        <div class={style.title}>
            <p>TE INVITAMOS A NUESTRA CEREMONIA DE</p>
            <h1>INAUGURACIÓN</h1>
        </div>
        <div class={style.programa}>
            <h2>PROGRAMA:</h2>
            <ul>
                <li>PALABRAS DE BIENVENIDA</li>
                <li>PRESENTACIÓN DE LOS SERVICIOS</li>
                <li>SORTEOS (VALES DE SPA-APARATOLOGÍA)</li>
                <li>CÓCTEL</li>
            </ul>
        </div>
        <div class={style.main_container__footer}>
            <div>
                <div>
                    <Calendar />
                    <p>18 de Mayo</p>
                </div>
                <div>
                    <Clock />
                    <p>5:00 pm</p>
                </div>
                <div>
                    <Location />
                    <p>Av. Petit Thouars 3547, San Isidro</p>
                </div>
            </div>
            <div class={style.dresscode}>
                <div>
                    <ManClothes />
                    <WomanClothes />
                </div>
                <p>Código de vestimenta: Traje Cóctel</p>
            </div>
        </div>
    </div>
    <div class={style.footer}>
        <div>
            <span></span>
            <h2>¡Los Esperamos!</h2>
            <span></span>
        </div>
        <div>
            <h2>DRA. GRISNERY MAQUERA</h2>
            <p>DIRECTORA MÉDICA</p>
        </div>
    </div>
</body>